.group-change-info-project {
    display: flex;
    gap: 5px;
}

.group-column-change-info-project-left {
    padding-top: 10px;
    border: 1px solid #dcdcdc;
}

.group-column-change-info-project-right {
    width: 100%;
    border: 1px solid #dcdcdc;
}


.group-change-info-project {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin: 10px;
}

.title {
    margin-top: 20px;
}

