.group {
    display: flex;
    gap: 5px;
}

.group-column-left {
    padding-top: 10px;
    border: 1px solid #dcdcdc;
}

.group-column-right {
    width: 100%;
    border: 1px solid #dcdcdc;
}

.group-info-project {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    padding: 10px;
    margin: 10px;
}

.create-project {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.search-project {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.title {
    padding-left: 10px; 
    font-size: 16px;
    font-weight: bold;
}

.button-text {
    font-size: inherit;
}