.login-container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login-panal {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
}

.login-panal-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.login-panal-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

.panal-form-items {
    float: left;
    /* text-align: right; */
}

.form_label {
    margin: 1px 0px;
    margin-right: 10px;
    float: left;
    position: relative;
    text-align: right;
    width: 130px;
    word-wrap: break-word;
}

.button-text {
    font-size: inherit;
}

.login-hint {
    margin: 1px 0px;
    padding: 4px 0 4px 140px;
    word-wrap: break-word;
}

.login-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: inherit;
}